.App {
  text-align: center;
}

.boardCard {
  background-image: url("https://media.istockphoto.com/photos/wavy-fiber-optic-background-picture-id1217176005?b=1&k=20&m=1217176005&s=170667a&w=0&h=YC7GICrydX4KrN6TU4lFTlOAwD6KOKEVZR8QdXKqHj0=");
}
